@import './common/style/reset.less';

body {
  background: #f5f7f9;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 960px;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
